body{
    margin: 0;
    background-color: #272a36;
}
.background{
    /* background-image: url("Images/background.jpeg"); */
    background-image: url("Images/line.png");
    background-size: cover;
    background-repeat: no-repeat;
    /* height: 100%; */
}
.content{
    text-align: center;
    font-family: arial;
    height: auto;
    vertical-align: middle;
}
/* span{
    vertical-align: 50vh;
} */
ul{
    list-style-type: none;
}

.ig{
    height: 3vh;
    transition: width 0.7s, height 0.7s;
}
.ig:hover{
    height: 4vh;
}
.links{
    margin-top: 85vh;
    text-align: center;
}
@media screen and (max-width: 768px) {
    .background {
        background-image: url("Images/mobile.jpeg");
      /* background-image: none; */
        background-color: #2e303a;
        background-size: cover;
        height: 100%;
    }
    .content{
        color: white;
        font-size: 2vmin;
    }
    .ig{
        width: 8%;
        height: 8%;
    }
    .links{
        margin-top: 82vh;
    }
  }