body{
    margin: 0;
    background-color: #272a36;
}
.content{
    font-family: arial;
    width: 400px;
    height: 150px;
    color: #aaaaaa;
    float: right;
    margin-right: 10%;
    margin-bottom: 100px;
    transition: width 1s, height 1s;
    top: 40%;
    position: absolute;
    left: 65%;
}
/* .content:hover{
    color:#ffa500;
    height: 180px;
    width: 500px;
    font-size: 200%;
} */
.links{
    width: 100px;
    height: auto;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    clear: both;
    position: absolute;
    top: 90%;
    left: 40%;
    right: 40%;
}
ul{
    width: 100%;
    height: 100%;
    list-style: none;
    text-align: center;
}
li{
    width: auto;
    height: auto;
}
.ig{
    height: 3vh;
    transition: width 0.7s, height 0.7s;
}
.ig:hover{
    height: 4vh;
}
h1:nth-child(1){
    color: orange;
}
.lines{
    height: 98.5vh;
    width: 100%;
}
.l1{
    border-width: 6px;
    border-left: 1px;
    border-style: solid;
    border-color: rgb(123, 255, 0);
    /* transform: rotate(90deg); */
    float: left;
    height: 100%;
}
.l2{
    border-width: 6px;
    border-left: 1px;
    border-style: solid;
    border-color: rgb(255, 199, 44);
    /* transform: rotate(90deg); */
    float: left;
    height: 100%;
    margin-left: 50px;
}
.l3{
    border-width: 6px;
    border-left: 1px;
    border-style: solid;
    border-color: rgb(104, 104, 104);
    /* transform: rotate(90deg); */
    float: left;
    height: 100%;
    margin-left: 50px;
}
.l4{
    border-width: 6px;
    border-left: 1px;
    border-style: solid;
    border-color: rgb(123, 255, 0);
    /* transform: rotate(90deg); */
    float: left;
    height: 100%;
    margin-left: 50px;
    opacity: 0.9;
}
.l5{
    border-width: 6px;
    border-left: 1px;
    border-style: solid;
    border-color: rgb(255, 199, 44);
    /* transform: rotate(90deg); */
    float: left;
    height: 100%;
    margin-left: 50px;
    opacity: 0.8;
}
.l6{
    border-width: 6px;
    border-left: 1px;
    border-style: solid;
    border-color: rgb(104, 104, 104);
    /* transform: rotate(90deg); */
    float: left;
    height: 100%;
    margin-left: 50px;
    opacity: 0.7;
}
.l7{
    border-width: 6px;
    border-left: 1px;
    border-style: solid;
    border-color: rgb(123, 255, 0);
    /* transform: rotate(90deg); */
    float: left;
    height: 100%;
    margin-left: 50px;
    opacity: 0.6;
}
.l8{
    border-width: 6px;
    border-left: 1px;
    border-style: solid;
    border-color: rgb(255, 199, 44);
    /* transform: rotate(90deg); */
    float: left;
    height: 100%;
    margin-left: 50px;
    opacity: 0.5;
}
.l9{
    border-width: 6px;
    border-left: 1px;
    border-style: solid;
    border-color: rgb(104, 104, 104);
    /* transform: rotate(90deg); */
    float: left;
    height: 100%;
    margin-left: 50px;
    opacity: 0.4;
}
.l10{
    border-width: 6px;
    border-left: 1px;
    border-style: solid;
    border-color: rgb(123, 255, 0);
    /* transform: rotate(90deg); */
    float: left;
    height: 100%;
    margin-left: 50px;
    opacity: 0.35;
}
.l11{
    border-width: 6px;
    border-left: 1px;
    border-style: solid;
    border-color: rgb(255, 199, 44);
    /* transform: rotate(90deg); */
    float: left;
    height: 100%;
    margin-left: 50px;
    opacity: 0.3;
}
.l12{
    border-width: 6px;
    border-left: 1px;
    border-style: solid;
    border-color: rgb(104, 104, 104);
    /* transform: rotate(90deg); */
    float: left;
    height: 100%;
    margin-left: 50px;
    opacity: 0.25;
}
.l13{
    border-width: 6px;
    border-left: 1px;
    border-style: solid;
    border-color: rgb(123, 255, 0);
    /* transform: rotate(90deg); */
    float: left;
    height: 100%;
    margin-left: 50px;
    opacity: 0.2;
}
.l14{
    border-width: 6px;
    border-left: 1px;
    border-style: solid;
    border-color: rgb(255, 199, 44);
    /* transform: rotate(90deg); */
    float: left;
    height: 100%;
    margin-left: 50px;
    opacity: 0.15;
}
.l15{
    border-width: 6px;
    border-left: 1px;
    border-style: solid;
    border-color: rgb(104, 104, 104);
    /* transform: rotate(90deg); */
    float: left;
    height: 100%;
    margin-left: 50px;
    opacity: 0.12;
}
.l16{
    border-width: 6px;
    border-left: 1px;
    border-style: solid;
    border-color: rgb(123, 255, 0);
    /* transform: rotate(90deg); */
    float: left;
    height: 100%;
    margin-left: 50px;
    opacity: 0.1;
}
.l17{
    border-width: 6px;
    border-left: 1px;
    border-style: solid;
    border-color: rgb(255, 199, 44);
    /* transform: rotate(90deg); */
    float: left;
    height: 100%;
    margin-left: 50px;
    opacity: 0.08;
}
.l18{
    border-width: 6px;
    border-left: 1px;
    border-style: solid;
    border-color: rgb(104, 104, 104);
    /* transform: rotate(90deg); */
    float: left;
    height: 100%;
    margin-left: 50px;
    opacity: 0.06;
}
.l19{
    border-width: 6px;
    border-left: 1px;
    border-style: solid;
    border-color: rgb(123, 255, 0);
    /* transform: rotate(90deg); */
    float: left;
    height: 100%;
    margin-left: 50px;
    opacity: 0.04;
}
.l20{
    border-width: 6px;
    border-left: 1px;
    border-style: solid;
    border-color: rgb(255, 199, 44);
    /* transform: rotate(90deg); */
    float: left;
    height: 100%;
    margin-left: 50px;
    opacity: 0.02;
}
.l21{
    border-width: 6px;
    border-left: 1px;
    border-style: solid;
    border-color: rgb(104, 104, 104);
    /* transform: rotate(90deg); */
    float: left;
    height: 100%;
    margin-left: 50px;
    opacity: 0.01;
}
@media screen and (max-width: 768px) {
    body{
        height: 100%;
        width: 100%;
        background-size: cover;
    }
    .content{
        font-size: 2vmin;
    }
    .ig{
        width: 2vw;
        height: 1vh;
    }
    /* .links{
        position: absolute;
        top: 90%;
        left: 46%;
        right: 46%;
    } */
    .lines{
        height: 98.5vh;
        width: 100%;
    }
    .l1{
        border-width: 5px;
        border-left: 1px;
        border-style: solid;
        border-color: rgb(123, 255, 0);
        /* transform: rotate(90deg); */
        float: left;
        height: 100%;
    }
    .l2{
        border-width: 5px;
        border-left: 1px;
        border-style: solid;
        border-color: rgb(255, 199, 44);
        /* transform: rotate(90deg); */
        float: left;
        height: 100%;
        margin-left: 25px;
        opacity: 0.9;
    }
    .l3{
        border-width: 5px;
        border-left: 1px;
        border-style: solid;
        border-color: rgb(104, 104, 104);
        /* transform: rotate(90deg); */
        float: left;
        height: 100%;
        margin-left: 25px;
        opacity: 0.8;
    }
    .l4{
        border-width: 5px;
        border-left: 1px;
        border-style: solid;
        border-color: rgb(123, 255, 0);
        /* transform: rotate(90deg); */
        float: left;
        height: 100%;
        margin-left: 25px;
        opacity: 0.8;
        opacity: 0.7;
    }
    .l5{
        border-width: 5px;
        border-left: 1px;
        border-style: solid;
        border-color: rgb(255, 199, 44);
        /* transform: rotate(90deg); */
        float: left;
        height: 100%;
        margin-left: 25px;
        opacity: 0.6;
    }
    .l6{
        border-width: 5px;
        border-left: 1px;
        border-style: solid;
        border-color: rgb(104, 104, 104);
        /* transform: rotate(90deg); */
        float: left;
        height: 100%;
        margin-left: 25px;
        opacity: 0.5;
    }
    .l7{
        border-width: 5px;
        border-left: 1px;
        border-style: solid;
        border-color: rgb(123, 255, 0);
        /* transform: rotate(90deg); */
        float: left;
        height: 100%;
        margin-left: 25px;
        opacity: 0.45;
    }
    .l8{
        border-width: 5px;
        border-left: 1px;
        border-style: solid;
        border-color: rgb(255, 199, 44);
        /* transform: rotate(90deg); */
        float: left;
        height: 100%;
        margin-left: 25px;
        opacity: 0.3;
    }
    .l9{
        border-width: 5px;
        border-left: 1px;
        border-style: solid;
        border-color: rgb(104, 104, 104);
        /* transform: rotate(90deg); */
        float: left;
        height: 100%;
        margin-left: 25px;
        opacity: 0.2;
    }
    .l10{
        border-width: 5px;
        border-left: 1px;
        border-style: solid;
        border-color: rgb(123, 255, 0);
        /* transform: rotate(90deg); */
        float: left;
        height: 100%;
        margin-left: 25px;
        opacity: 0.1;
    }
    .l11{
        border-width: 5px;
        border-left: 1px;
        border-style: solid;
        border-color: rgb(255, 199, 44);
        /* transform: rotate(90deg); */
        float: left;
        height: 100%;
        margin-left: 25px;
        opacity: 0.05;
    }
    .l12, .l13, .l14, .l15, .l16, .l17, .l18, .l19, .l20, .l21{
        display: none;
    }
}